body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  /* background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(66, 93, 228) 100%); */
  background: #0f172a;
  overflow-x: "hidden";
}

a {
  text-decoration: none;
  color: black;
}

.text {
  font-weight: 450;
  font-size: 2.5vw;
  font-family: "Avenir Next", sans-serif;
}

.textWhite {
  color: white;
}

.centerMessage {
  color: white;
  z-index: 0;
}

.homeScreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.square {
  z-index: 3;
  width: 15vw;
  height: 15vw;
  background: linear-gradient(135deg, #22d3ee, #2089e7); /* Gradient */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2), 0px 0px 15px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
  color: #0f172a;
  position: relative; /* Changed from absolute */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px; /* Added for initial rounded corners */
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 0.4vh;
  background: white;
  bottom: 1vh;
  z-index: 10;
}

li {
  display: flex;
  align-items: center;
}

.importantText {
  font-weight: bold;
  color: "#b3c5dd";
}

.slider {
  max-height: 650px;
  max-width: 650px;
}

.mainSlider {
  max-height: 650px;
  max-width: 750px;
}

.codeLink {
  color: white;
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
}

.liveLink {
  color: white;
  position: relative;
}
@media (max-width: 768px) {
  .navbar {
    font-size: 2.75vw;
  }
  .intro-heading {
    font-size: 7vw;
  }
  .intro-text {
    font-size: 5vw;
  }
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 550;
  }
  .skill-box {
    border-radius: 20%;
    margin-bottom: 1vh;
  }
  .icon {
    height: 7.5vw;
    margin: 0.5vw;
  }
  .skill-heading {
    font-size: 4vw;
  }
  ul {
    font-size: 3vw;
  }
  .project-box {
    height: 40vh;
  }
  .email {
    font-size: 6vw;
  }
  .slider {
    max-height: 150px;
    max-width: 150px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    font-size: 2.5vw;
  }
  .intro-heading {
    font-size: 5vw;
  }
  .intro-text {
    font-size: 3vw;
  }
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 550;
  }
  .skill-box {
    width: 30vh;
    height: 30vh;
    border-radius: 20%;
    margin-bottom: 1vh;
  }
  .icon {
    height: 5.5vw;
    margin: 0.5vw;
  }
  .skill-heading {
    font-size: 4vw;
  }
  ul {
    font-size: 2vw;
  }
  .project-box {
    height: 50vh;
  }
  .email {
    font-size: 6vw;
  }
  .slider {
    max-height: 450px;
    max-width: 450px;
  }
}
@media (min-width: 1025px) {
  .navbar {
    font-size: 1.5vw;
  }
  .intro-heading {
    font-size: 3.5vw;
  }
  .intro-text {
    font-size: 2vw;
  }
  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 550;
  }
  .icon {
    height: 3vw;
    margin: 0.5vw;
  }
  .skill-box {
    width: 25vw;
    height: 25vw;
    border-radius: 10%;
  }
  .skill-heading {
    font-size: 2.5vw;
  }
  ul {
    font-size: 1.1vw;
  }
  .project-box {
    height: 100vh;
  }
  .email {
    font-size: 4vw;
  }
  .slider {
    max-height: 650px;
    max-width: 650px;
  }
}
